{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Ajouter une nouvelle option</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer" class="btn btn-block btn-primary"/>
        {{ form_end(form) }}

    </div>

{% endblock %}
