{% extends 'Advert/layout.html.twig' %}
{% block title %} {{ parent() }} - Modifier une annonce{% endblock %}
{% block body %}
    <h3>Modifier une annonce : </h3>
    {% include 'Advert/form.html.twig' %}
{% endblock %}