{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a post</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">save</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

