<ul class="nav nav-pills nav-stacked">
    {% for advert in adverts %}
    <li>
        <a href="{{ path('oc_platform_view',{'id':advert.id,'title':advert.title}) }}">{{ advert.title }}</a>
    </li>
    {% endfor %}
</ul>